Repository opensearch-project/observability, pull requests merged in 2023-04, with the labels that each got.

#1485 [BACKPORT] Move schema in main
  build.gradle
  docs/schema/README.md
  docs/schema/observability/README.md
  docs/schema/observability/logs/README.md
  docs/schema/observability/logs/Usage.md
  docs/schema/observability/logs/sample/http_client-log.json
  docs/schema/observability/logs/sample/http_server-log.json
  docs/schema/observability/logs/sample/nginx_access-log.json
  docs/schema/observability/metrics/README.md
  docs/schema/observability/metrics/samples/gauge.json
  docs/schema/observability/metrics/samples/histogram.json
  docs/schema/observability/metrics/samples/load_samples.md
  docs/schema/observability/metrics/samples/sum.json
  docs/schema/observability/traces/README.md
  docs/schema/observability/traces/samples/load_samples.md
  docs/schema/observability/traces/samples/traceA.json
  docs/schema/observability/traces/samples/traceB.json
  docs/schema/observability/traces/samples/traceC.json
  docs/schema/security/README.md
  docs/schema/system/README.md
  docs/schema/system/samples/application.json
  docs/schema/system/samples/catalog.json
  docs/schema/system/samples/datasource.json
  docs/schema/system/samples/index-pattern.json
  docs/schema/system/samples/integration-instance.json
  docs/schema/system/samples/integration.json
  docs/schema/system/samples/integrations-template-list.json
  docs/schema/system/samples/notebook.json
  docs/schema/system/samples/operationalPanel.json
  docs/schema/system/samples/savedQuery.json
  docs/schema/system/samples/visualization.json
  src/main/resources/schema/observability/catalog.json
  src/main/resources/schema/observability/logs/communication.mapping
  src/main/resources/schema/observability/logs/communication.schema
  src/main/resources/schema/observability/logs/http.mapping
  src/main/resources/schema/observability/logs/http.schema
  src/main/resources/schema/observability/logs/logs.mapping
  src/main/resources/schema/observability/logs/logs.schema
  src/main/resources/schema/observability/metrics/metrics.mapping
  src/main/resources/schema/observability/metrics/metrics.schema
  src/main/resources/schema/observability/traces/services.mapping
  src/main/resources/schema/observability/traces/traces.mapping
  src/main/resources/schema/observability/traces/traces.schema
  src/main/resources/schema/system/application.schema
  src/main/resources/schema/system/catalog.schema
  src/main/resources/schema/system/datasource.schema
  src/main/resources/schema/system/index-pattern.schema
  src/main/resources/schema/system/integration-instance.schema
  src/main/resources/schema/system/integration.schema
  src/main/resources/schema/system/integrations-template-list.schema
  src/main/resources/schema/system/notebook.schema
  src/main/resources/schema/system/operational-panel.schema
  src/main/resources/schema/system/saved-query.schema
  src/main/resources/schema/system/visualization.schema
Labels: documentation, backport main, Maintenance

#1495 fix broken markdown documents links and remove redundant docs
  docs/Integration-plugin-tasks.md
  docs/Integration-structure.md
  docs/Integrations.md
  docs/Simple-schema.md
  docs/schema/README.md
  docs/schema/observability/README.md
  docs/schema/observability/logs/Usage.md
  docs/schema/observability/traces/Usage.md
  integrations/README.md
  src/main/resources/schema/README.md
  src/main/resources/schema/observability/README.md
  src/main/resources/schema/observability/logs/README.md
  src/main/resources/schema/observability/metrics/README.md
  src/main/resources/schema/observability/traces/README.md
  src/main/resources/schema/observability/traces/Usage.md
  src/main/resources/schema/security/README.md
  src/main/resources/schema/system/README.md
Labels: documentation, integration

#1489 Begin Integrations dev on dedicated branch
  build.gradle
  src/main/kotlin/org/opensearch/integrations/IntegrationsPlugin.kt
  src/main/kotlin/org/opensearch/integrations/resthandler/IntegrationStoreRestHandler.kt
  src/main/kotlin/org/opensearch/integrations/validation/ValidationResult.kt
  src/main/kotlin/org/opensearch/integrations/validation/Validator.kt
  src/main/kotlin/org/opensearch/integrations/validation/schema/system/SystemComponent.kt
  src/main/kotlin/org/opensearch/observability/ObservabilityPlugin.kt
  src/test/kotlin/org/opensearch/integrations/PluginRestTestCase.kt
  src/test/kotlin/org/opensearch/integrations/TestHelpers.kt
  src/test/kotlin/org/opensearch/integrations/rest/GetStoreIT.kt
  src/test/kotlin/org/opensearch/integrations/validation/ValidatorTests.kt
Labels: enhancement, integration

#1504 Add 2.7 release notes
  release-notes/opensearch-observability.release-notes-2.7.0.0.md
Labels: documentation, release

#1439 Baseline repo permissions code-owners and maintainers
  .github/CODEOWNERS
  MAINTAINERS.md
Labels: documentation

#1509 Update json version to 20230227
  build.gradle
Labels: dependencies, backport 2.7

#1507 Update Gradle Wrapper to 7.6.1
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: backport 2.x, infrastructure
